---
---

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.section {
  height: 100vh;
}

.left-col {
  border-right: 1px solid black;
  height: 100vh;
}

.left-col > .rotated {
  position: relative;
  left: 50%;
  transform: translateY(100vh) rotate(-90deg);
  text-align: center;
  transform-origin: top left 0;
  width: 100vh;
  font-size: 24px;
  line-height: 0;
}

.left-col > p.rotated-fixed {
  position: fixed;
}

.side-link {
  color: grey;
  padding: 5px;
}

.right-col > .main-content {
  font-size: 30px;
  position: relative;
  top: 5%;
  left: 10%
}

.right-col > .main-content#hello {
  position: relative;
  top: 40%;
  left: 10%;
}

.main-content > h1 {
  margin-bottom: 10px;
}

.main-content > p.subtext {
  position: relative;
  left: 10%;
  color: grey;
  font-size: 22px;
  max-width: 80%;
}

.image-container {
  position: relative;
  top: 5%;
}

img.index-image {
  width: auto;
  max-width: 50vw;
  height: auto;
  max-height: 30vh;
  margin-left: 30%;
}

img.project-image {
  margin-left: 100px;
  height: 100%;
  width: auto;
}

.right-col > h1.big-number {
  font-size: 70px;
  position: relative;
  left: -21px;
  top: 5%;
  margin-top: 0px;
}

.view-work {
  display: block;
  background: black;
  color: white;
  width: 140px;
  height: 70px;
  text-align: center;
  position: relative;
  top: 15%;
}

.view-work > p {
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
}

.wana-background {
  background-color: #E9F7D5;
}

.caroline-background {
  background-color: #EED9BB;
}

.bnbc-background {
  background-color: #DECFE5;
}

.wunder-background {
  background-color: #D0E0E5;
}

.extra-background {
  background-color: #DDDDDD;
}

.last {
  margin-bottom: 100px;
}


.project-section > h1.section-title {
  position: relative;
  left: -21px;
  font-size: 60px;
}

.project-section > p.section-description {
  font-size: 22px;
  margin-left: 40px;
  max-width: 1000px;
}

@media only screen and (max-width: 700px) {
  .right-col > .main-content {
    font-size: 4vw;
  }

  .main-content > p.subtext {
    font-size: 3vw;
  }

}
